<div>
  <form [formGroup]="form" (submit)="send()" errorTailor>
    <!--Input para el nombre-->
    <div>
      <label for="nombre">Nombre completo</label>
      <input type="text" id="nombre" formControlName="nombre">
    </div>
    <hr>
    <!--Input para la matricula-->
    <div>
      <label for="matricula">Matricula</label>
      <input type="number" id="matricula" formControlName="matricula" [controlErrorsTp1]="matriculaError">
    </div>
    <hr>
    <!--Input del correo-->
    <div>
      <label for="email">Correo</label>
      <input type="email" id="email" formControlName="email">
    </div>
    <hr>
    <!--Input de la contrasena-->
    <div>
      <label for="password">Contrasena</label>
      <input type="password" id="password" formControlName="password" [controlErrorsTp1]="psswError">
    </div>
    <hr>
    <!--Input del semestre-->
    <div>
      <label for="semestre">Semestre</label>
      <input type="number" name="semestre" id="semestre" formControlName="semestre">
    </div>
    <hr>
    <!--Select para el nivel academico-->
    <div>
      <label for="nivelAcademico">Nivel Academico</label>
      <select (change)="cambioNvl(event.target.value)" name="nivelAcademico" id="nivelAcademico" class="custom-select" formControlName="nivelAcademico">
        <option *ngFor="let nivel of nivelAcademico" [value]='nivel' > {{nivel}}</option>
      </select>
    </div>
    <hr>
    <!--Select de las opciones para nivel academico-->
    <div *ngIf="nvlAcademico.length > 1">
      <select name="nvlAcademicoOpc" id="nvlAcademicoOpc" class="custom-select" formControlName="nvlAcademicoOpc">
        <option *ngFor="let opcion of nvlAcademico" > {{opcion}}</option>
      </select>
    </div>
    <hr>
    <!--Boton para registro-->
    <div>
      <button [disabled]="form.invalid">Registrar</button>
    </div>
  </form>
</div>

<ng-template let-error let-text="text" #matriculaError>
  <b>Error:</b>
  <div *ngIf="error?.maxlength">
    <i>El maximo de caracteres permitidos es 9</i>
  </div>
</ng-template>

<ng-template let-error let-text="text" #psswError>
  <b>Error:</b>
  <div *ngIf="error?.minlength">
    <i>El minimo de caracteres debe ser 6</i>
  </div>
</ng-template>

<script src="../assets/js/ngEnter.js" type="text/javascript"></script>